In [17]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://postgres:bartek11@localhost:5432/ProjektBazy')

connection = engine.connect()

df = pd.read_sql_table('data1',connection)
df

,index,country,date,confirmedcases,fatalities,day_from_jan_first,temp,min,max,stp,slp,dewp,wdsp,prcp,fog
0,0.0,Afghanistan,2020-01-22,0.0,0.0,22,42.6,33.6,54.9,999.9,1024.3,27.4,9.4,0.00,0
1,1.0,Afghanistan,2020-01-23,0.0,0.0,23,42.0,32.7,55.9,999.9,1020.8,22.8,14.9,99.99,1
2,2.0,Afghanistan,2020-01-24,0.0,0.0,24,40.1,36.9,43.2,999.9,1018.6,34.5,10.4,0.17,1
3,4.0,Afghanistan,2020-01-26,0.0,0.0,26,42.8,36.1,53.1,999.9,1014.8,33.2,10.8,0.00,1
4,5.0,Afghanistan,2020-01-27,0.0,0.0,27,43.0,36.5,50.7,999.9,1015.7,35.6,3.7,0.04,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17888,17889.0,Zambia,2020-03-22,3.0,0.0,82,72.1,67.1,80.4,999.9,NaN,66.7,5.0,99.99,1
17889,17890.0,Zambia,2020-03-23,3.0,0.0,83,71.7,66.2,80.6,999.9,NaN,62.8,4.2,0.00,0
17890,17891.0,Zambia,2020-03-24,3.0,0.0,84,72.6,60.3,84.2,999.9,NaN,62.0,6.4,0.00,1
17891,NaN,Poland,2023-01-24,0.0,0.0,41,44.3,37.4,50.5,980.6,995.2,36.1,16.7,99.99,1
17892,3.0,Polska,2020-01-25,0.0,0.0,25,46.0,37.9,56.3,999.9,1018.0,37.8,6.1,0.57,1

In [18]:
df.describe()

,index,confirmedcases,fatalities,day_from_jan_first,temp,min,max,stp,slp,dewp,wdsp,prcp,fog
count,17892.000000,17893.000000,17893.000000,17893.000000,17893.000000,17756.000000,17877.000000,17893.000000,10946.000000,17275.000000,17893.000000,17893.000000,17893.000000
mean,8945.500000,325.189348,11.974068,52.999329,54.848723,45.629798,64.379415,702.321969,1016.579070,42.353268,25.520611,7.831485,0.336668
std,5165.119844,3538.501630,174.341418,18.184464,22.305641,22.900178,22.310536,428.762408,8.493025,22.398919,136.291781,26.748671,0.472583
min,0.000000,0.000000,0.000000,22.000000,-27.200000,-45.400000,-23.800000,0.000000,968.900000,-33.100000,0.000000,0.000000,0.000000
25%,4472.750000,0.000000,0.000000,37.000000,38.800000,30.200000,47.500000,20.700000,1011.300000,27.000000,3.500000,0.000000,0.000000
50%,8945.500000,0.000000,0.000000,53.000000,53.900000,44.400000,64.800000,976.600000,1016.000000,40.800000,5.600000,0.000000,0.000000
75%,13418.250000,10.000000,0.000000,69.000000,76.800000,67.500000,84.600000,999.900000,1021.600000,63.500000,8.700000,0.030000,1.000000
max,17891.000000,69176.000000,6820.000000,84.000000,97.300000,88.200000,109.600000,999.900000,1051.700000,81.100000,999.900000,99.990000,1.000000

In [19]:
df['month'] = pd.DatetimeIndex(df['date']).month
df_pom = df[df['country'] == 'Poland']

df_pom = df_pom[df_pom['month'] == 2]
df_pom

,index,country,date,confirmedcases,fatalities,day_from_jan_first,temp,min,max,stp,slp,dewp,wdsp,prcp,fog,month
11223,11224.0,Poland,2020-02-01,0.0,0.0,32,50.6,43.9,56.3,988.4,1003.5,46.1,10.1,99.99,1,2
11224,11225.0,Poland,2020-02-02,0.0,0.0,33,44.9,41.0,53.4,988.5,1003.7,40.3,12.0,99.99,1,2
11225,11226.0,Poland,2020-02-03,0.0,0.0,34,40.9,36.0,44.6,989.7,1005.0,38.3,7.0,99.99,1,2
11226,11227.0,Poland,2020-02-04,0.0,0.0,35,40.9,35.6,45.9,988.3,1002.0,38.0,7.2,99.99,1,2
11227,11228.0,Poland,2020-02-05,0.0,0.0,36,33.8,28.4,39.2,2.7,1018.2,27.6,6.5,99.99,1,2
11228,11229.0,Poland,2020-02-06,0.0,0.0,37,36.4,28.8,41.0,8.5,1024.4,33.4,10.4,99.99,1,2
11229,11230.0,Poland,2020-02-07,0.0,0.0,38,33.2,23.0,41.0,12.3,1028.2,26.1,5.0,99.99,1,2
11230,11231.0,Poland,2020-02-08,0.0,0.0,39,32.3,23.0,43.0,11.6,1027.2,21.9,4.2,0.00,0,2
11231,11232.0,Poland,2020-02-09,0.0,0.0,40,39.3,31.3,46.4,998.0,1013.6,29.7,11.6,0.00,0,2
11232,11233.0,Poland,2020-02-10,0.0,0.0,41,44.3,37.4,50.5,980.6,995.2,36.1,16.7,99.99,1,2
11233,11234.0,Poland,2020-02-11,0.0,0.0,42,39.3,35.4,41.9,979.6,994.5,32.1,15.7,99.99,1,2
11234,11235.0,Poland,2020-02-12,0.0,0.0,43,38.3,35.6,41.0,990.5,1005.7,29.2,15.3,99.99,1,2
11235,11236.0,Poland,2020-02-13,0.0,0.0,44,37.6,33.8,44.6,997.1,1012.8,28.1,10.2,0.00,0,2
11236,11237.0,Poland,2020-02-14,0.0,0.0,45,36.7,34.7,39.2,0.0,1015.5,34.8,5.1,99.99,1,2
11237,11238.0,Poland,2020-02-15,0.0,0.0,46,36.0,27.7,44.6,10.4,1026.2,32.2,5.6,0.00,1,2
11238,11239.0,Poland,2020-02-16,0.0,0.0,47,46.9,36.0,53.8,999.0,1014.3,34.6,13.7,0.00,0,2
11239,11240.0,Poland,2020-02-17,0.0,0.0,48,50.7,42.1,56.3,997.3,1012.4,36.7,11.5,0.00,0,2
11240,11241.0,Poland,2020-02-18,0.0,0.0,49,43.2,37.0,50.0,2.7,1018.4,35.6,10.7,99.99,1,2
11241,11242.0,Poland,2020-02-19,0.0,0.0,50,40.4,34.7,48.2,1.4,1016.7,33.5,9.5,99.99,1,2
11242,11243.0,Poland,2020-02-20,0.0,0.0,51,38.2,35.6,43.7,2.7,1017.5,34.1,7.0,0.00,0,2
11243,11244.0,Poland,2020-02-21,0.0,0.0,52,38.9,33.8,44.6,3.4,1019.2,33.3,10.4,99.99,1,2
11244,11245.0,Poland,2020-02-22,0.0,0.0,53,42.4,33.3,51.8,0.9,1016.3,32.6,12.7,99.99,1,2
11245,11246.0,Poland,2020-02-23,0.0,0.0,54,42.2,34.7,51.8,992.1,1007.5,37.5,10.1,99.99,1,2
11246,11247.0,Poland,2020-02-24,0.0,0.0,55,39.8,35.6,43.5,994.3,1010.0,34.4,12.5,99.99,1,2
11247,11248.0,Poland,2020-02-25,0.0,0.0,56,45.4,35.2,53.4,986.6,1001.9,42.1,9.4,99.99,1,2
11248,11249.0,Poland,2020-02-26,0.0,0.0,57,38.8,33.8,46.2,980.6,995.7,35.5,8.0,99.99,1,2
11249,11250.0,Poland,2020-02-27,0.0,0.0,58,36.2,30.2,39.2,983.8,999.0,31.7,9.4,99.99,1,2
11250,11251.0,Poland,2020-02-28,0.0,0.0,59,34.9,28.4,41.0,993.4,1007.9,31.6,6.6,99.99,1,2
11251,11252.0,Poland,2020-02-29,0.0,0.0,60,39.0,30.6,44.6,990.3,1005.4,30.6,10.9,0.00,0,2

In [20]:
from scipy.stats import shapiro

#rozkład normalny

s, p  = shapiro(df_pom['temp'])
s1, p1 = shapiro(df_pom['dewp'])
print(s,p)
print(s1,p1)

0.9593619704246521 0.3170180320739746
0.985763669013977 0.954315185546875

In [22]:
from scipy.stats import f_oneway

#wariancja

a = f_oneway(df_pom['temp'],df_pom['dewp'])
b = f_oneway(df_pom['temp'],df_pom['max'])
print(a[1])
print(b[1])

5.109976819840519e-06
1.5533782244500432e-05

In [24]:
from scipy.stats import ttest_rel
#zależnych
from scipy.stats import ttest_ind


t = ttest_rel(df_pom['temp'],df_pom['dewp'])
t[1]

1.2299326382940204e-11

In [26]:
#niezaleznych
t1 = ttest_ind(df_pom['temp'],df_pom['slp'])
t1[1]

2.1278166281549902e-103

In [30]:
#srednie
test1 = f_oneway(df_pom['temp'], df_pom['dewp'], df_pom['month'])
test1[1]

3.42274887837467e-55