In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://postgres:bartek11@localhost:5432/ProjektBazy')

def create_table(engine,name_table):
    connection = engine.connect()
    query = f"CREATE TABLE {name_table} (id SERIAL PRIMARY KEY, country VARCHAR, date DATE, temp FLOAT)"
    connection.execute(query)


def create_procedure(engine, name_table):
    connection = engine.connect()
    query = f"""
    CREATE FUNCTION add_value_{name_table}b()
    RETURNS trigger AS $$
    BEGIN
    INSERT INTO {name_table}b (country,date,temp) SELECT country, date_trunc('month',date), AVG(temp) FROM {name_table} GROUP BY date_trunc('month',date);
    END;
    $$ LANGUAGE PLPGSQL;
    """
    connection.execute(query)

def create_trigger(engine, name_table):
    connection = engine.connect()
    query = f"""
    CREATE TRIGGER add_value_{name_table}b_t
    AFTER INSERT OR UPDATE ON {name_table}
    FOR EACH ROW EXECUTE FUNCTION add_value_{name_table}b();
"""
    connection.execute(query)

# create_table(engine,'data1b')
# create_procedure(engine,'data1')
# create_trigger(engine,'data1')


def prepare_date(engine, param,table_name):
    connection = engine.connect()
    query = f"SELECT * FROM {table_name}"
    df = pd.read_sql_query(query,connection)
    df['date'] = pd.to_datetime(df['date'])

    if param == 'month':
        result = df.groupby([df['country'],df['date'].dt.month]).agg({'temp':'mean'})
    else:
        result = df.groupby([df['country'],df['date'].dt.year]).agg({'temp':'mean'})
    result.to_sql(f'{table_name}b',engine, if_exists='replace')
    # print(result)

prepare_date(engine,'all','data1')

results_df = pd.read_sql_query('SELECT * FROM data1b', engine)
print(results_df)

                 country  date       temp
0            Afghanistan  2020  33.685484
1                Albania  2020  52.180952
2                Algeria  2020  69.436508
3                Andorra  2020  34.388889
4    Antigua and Barbuda  2020  77.323810
..                   ...   ...        ...
160              Uruguay  2020  77.207937
161           Uzbekistan  2020  44.292063
162            Venezuela  2020  90.574603
163              Vietnam  2020  76.611111
164               Zambia  2020  71.877778

[165 rows x 3 columns]